body {
    width: 100%;
    margin: 0;  
    display: block;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.container {
align-content: center;
}
header {
    background-image: url("../images/newspaper-banner.jpg");
    height: 170px;
    padding-top: 3%;
    padding-bottom: 3%;

}
h1 {
    font-weight: bold;
    background: black;
    width: 375px;
    color: snow;
    border-radius: 5px;
    text-align: center;
    font-size: 38px;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

 

}
#formStyling input {
    align-content: center;
    margin-left: 50%;
}
#submit {
    border: solid black 1px;
}
h3 {
   padding-top: 2%; 
   display: block;
   width: 950px;
}
#clear {
    border: solid black 1px;
}

#articleContainer {
    margin-left: 15px;
}

.articleHead {
    font-weight: bold;
    font-size: 40px;
}

#submit:hover {
    background: black;
    color: snow;
}

#clear:hover {
    background: black;
    color: snow;
}

.wordStyling {
    font-size: 18px;

}

#endYearPadding {
    padding-top: 15px;
}

a {
    color: black;

}
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
  }

  a:hover {
      color: #473e3e;
      text-decoration: none; 
  }
  .articleHead {
    display: inline-block;
    position: relative;
    color: black;
    font-weight: bold;
    font-size: 22px;
}
.articleHead::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    color: #473e3e;
    background-color:  #473e3e;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.articleHead:hover::after {
    transform: scaleX(1);
    color: #473e3e;
    transform-origin: bottom left;
}


